#legend {
    width: 600px;
    padding: 54px;
}

.hint
{
    font-size: 16px;
}

#scroll-hint {
    vertical-align: middle;
    text-align: center;
    padding-top: 40px;
    margin-left: -45px;
}

.story{
  margin-top: 300px;
}

.description {
    font-size: 24px;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 38px;
}

body{
    font-family: 'Average', serif;
}

.arrows {
	width: 60px;
	height: 72px;
    left: 20%;
    margin-top: 20px;
}

.arrows path {
    stroke: black;
    stroke-opacity: .6;
	fill: transparent;
	stroke-width: 0.5px;	
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
    0% {opacity:0}
    50% {opacity:1}
    100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
    0% {opacity:0}
    50% {opacity:1}
    100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; /* Safari and Chrome */
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; /* Safari and Chrome */
}

.arrows path.a3 {	
	animation-delay:0s;
	-webkit-animation-delay:0s; /* Safari and Chrome */
}
