body{
    margin-left: 50px;
    margin-top: 50px;
    font-family: 'Average', serif;
  }

h1 {
    font-size: 50px;
}

h2 {
    font-size: 38px;
}
  
.description {
    font-size: 20px;
}
.container-introduction {
    background: aliceblue;
}

.container-bubble {
    background: aliceblue;
}
  
.container-timeline {
    background: aliceblue;
}

.container-closing {
    background: aliceblue;
}

#overview-content{
    height: 500px;
}

#the-best-content{
    height: 500px;
}

#the-worst-content{
    height: 500px; 
}

#global-timeline-content{
    height: 500px; 
}

#best-timeline-content{    
    height: 500px; 
}

#worst-timeline-content{
    height: 500px;
}

#container{
    position: relative;
  }
  
#sections{
    padding-top: 50px;
    padding-bottom: 100px;
    width: 500px;
}
  
#sections > div{  
    opacity: 1;
}

#sections > div:last-child{
    margin-bottom: 80px;    
}
  
#sections > div.graph-scroll-active{
    opacity: 1;
}

#graph{
    width: 600px;
    position: absolute;
    top: 0px;
    margin-left: 500px;
}

.graph-scroll-fixed #graph{
    position: fixed;
    top: 0px;
}

.graph-scroll-below #graph{
    bottom: 0px;
    top: auto;
}

@media (max-width: 925px)  {
    #graph{
        width: 100%;
        transform: translate(-50%, 0);
        margin-left: 50%;
    }

    #sections{
        position: relative;
        margin: 0px auto;
        padding-top: 400px;
    }

    #sections div{
        padding: 10px;
        max-width: 400px;
        margin-bottom: 500px;
    }
}

svg{
    background-color: #eee;
}

.arrows {
    width: 60px;
    height: 72px;
    left: 10%;
    margin-top: 20px;
}

.arrows path {
    stroke: black;
    stroke-opacity: .6;
	fill: transparent;
	stroke-width: 0.5px;	
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
    0% {opacity:0}
    50% {opacity:1}
    100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
    0% {opacity:0}
    50% {opacity:1}
    100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; /* Safari and Chrome */
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; /* Safari and Chrome */
}

.arrows path.a3 {	
	animation-delay:0s;
	-webkit-animation-delay:0s; /* Safari and Chrome */
}
  