body{
    margin-left: 0px;
    margin-top: 0px;
    font-family: 'Average', serif;
    margin-top: 0px;
    font-family: 'Average', serif;
    overflow-x:hidden;
  }

h1 {
    margin-top: 0px;
    font-size: 50px;
    padding-left: 120px;
    width: 500px;
    position: relative;
    z-index: 5;
}

h2 {
    font-size: 38px;
    padding-left: 120px;
    position: relative;
    width: 500px;
    z-index: 5;
}

table, th, td {
    border: none;
    padding: 0px;
 }

h3 {
    font-size: 32px;
    position: relative;
    z-index: 5;
}
  
.description {
    font-size: 18px;
    text-align: justify;
}
.container-introduction {
    padding-top: 100px;
}

.emphasis {
    font-weight: bold;
}

#the-best-content{
    height: 50%;
}

#the-worst-content{
    height: 50%; 
}

#global-timeline-content{
    height: 50%; 
}

#best-timeline-content{    
    height: 500px; 
}

#worst-timeline-content{
    height: 50%;
    pointer-events: none;	
}

#what-about-you-content{
    height: 400px;    	
    pointer-events: none;	
}

#about-you-content{
    width: 400px;
    pointer-events: none;	
}

#about-you-title{
    width: 200px;
    pointer-events: none;	
}

#about-you-hint
{
    margin-bottom: 30px;
    width: 400px;
    pointer-events: none;	
}

#container{
    position: relative;
  }

#select-country
{
    pointer-events: all;	
}
  
#sections{
    padding-top: 10px;
    padding-left: 120px;
    padding-bottom: 100px;
    width: 500px;
}
  
#sections > div{  
    opacity: 1;
    z-index: 5;
    position: relative;
}

#sections > div:last-child{
    margin-bottom: 30px;   
}
  
#sections > div.graph-scroll-active{
    opacity: 1;
}

#graph{
    position: absolute;
    z-index: 1;
}

.graph-scroll-fixed #graph{
    position: fixed;
    top: 0px;
}

.graph-scroll-below #graph{
    bottom: 0px;
    top: auto;
}

svg{
    /* z-index: 5; */
}

.hint
{
    font-size: 12px;
}

#hint
{
    margin-top: 50px;
    margin-left: 30px;
    align-content:center;
    text-align: center;
    width: 300px;
    font-size: 16px;
}

.arrows {
    width: 60px;
    height: 72px;
    left: 10%;
    margin-top: 20px;
}

.arrows path {
    stroke: black;
    stroke-opacity: .6;
	fill: transparent;
	stroke-width: 0.5px;	
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
    0% {opacity:0}
    50% {opacity:1}
    100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
    0% {opacity:0}
    50% {opacity:1}
    100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; /* Safari and Chrome */
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; /* Safari and Chrome */
}

.arrows path.a3 {	
	animation-delay:0s;
	-webkit-animation-delay:0s; /* Safari and Chrome */
}


div.tooltip {	
    position: absolute;			
    text-align: center;		
    padding-left: 5px;		
    padding-right: 5px;
    padding-top: 2px;		
    padding-bottom: 2px;	
    width: auto;					
    height: auto;				
    font: 10px sans-serif;	
    color: white;	
    background:lightslategrey;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;	
    z-index: 5;		
}   


.bubble:hover {
    fill: #3ca1c3;
    cursor: pointer;
}

.axis {
    font-size: 12px;
}

.axis-label {
    font-size: 16px;
    fill:#246175;
}

.axis-sublabel {
    font-size: 12px;
    fill:#3C8EA9;
}

.bubble {
    opacity: 0.4;
    fill:#76bdd5;
}

.high-development-border, .world-biocapacity-border {
    opacity: 0;
    stroke:  #246175;
    stroke-dasharray: 1, 3;
}

.high-development-border-line {
    stroke:  #246175;
    stroke-width: 0.5px;
    stroke-opacity: 0;
    stroke-dasharray: 1, 3;
}

.high-development-border-limit {
    stroke:  #246175;
    stroke-width: 0.5px;
    stroke-opacity: 0;
}

.annotation-text {
    font-size: 14px;
    font-family: 'Average', serif;
    opacity: 0.4;
    fill: #9EA7AF;
}

.bubble-annotation 
{
    font-size: 12px;
    font-family: 'Average', serif;
    opacity: 0;
    fill: #9EA7AF;  
}

.y.axis, .x.axis{            
    font-size: 10px;
    opacity: 0.0;
}

.x.axis path, .y.axis path {
    /*display: none;*/
    stroke:  #9dd0e1;
}

.legend-text {
    font-size: 10px;
    opacity: 0.8;
    color: lightslategray;
    fill:  lightslategray;
}

.legend-title{
    opacity: 0.8;
    font-size: 12px;
    color: lightslategray;
    fill:  lightslategray;
}

.legend-subtitle {
    opacity: 0.8;
    font-size: 8px;
}


.footprint
{
    font-weight: bold;
    padding-left: 50px;
    font-size: 30px;
    color: #bf812d;
}

.biocapacity
{
    font-weight: bold;
    padding-left: 120px;
    font-size: 30px;
    color: #35978f;
}

.footprint-color
{
    color: #bf812d;
}

.biocapacity-color
{
    color: #35978f;
}

.legend-text-map {
    font-size: 10px;
    opacity: 0.8;
    color: "lightgray";
}

.legend-title-map{
    opacity: 0.8;
    font-size: 12px;
    color: "lightgray";
}

.timeline-annotation {
    opacity: 0.0;
    font-size: 12px;
}

.source-citation{
    opacity: 1;
    font-size: 10px;  
    opacity: 0.8;
    fill:  lightslategray;
}

.annotation {
    font-family: 'Average', serif;
}

.subject {
    stroke: lightslategray;
    stroke-opacity: 0;
}
.connector {
    stroke: lightslategray;
    stroke-opacity: 0;
}

.annotation-note-label{
    font-size: 10px;
    fill: lightslategray;
    opacity: 0;
}

.annotation-note-title{
    font-size: 14px;
    fill: lightslategray;
    opacity: 0;
}
  
#top-spacer {
    padding-top: 30%;	
    pointer-events: none;	
}

#middle-spacer {
    padding-top: 70%;	
    pointer-events: none;	
}

#bottom-spacer {
    padding-top: 60%;	
    pointer-events: none;	
}

#small-spacer{
    padding-top: 10%;	
    pointer-events: none;	
}

div.info {	
    position: absolute;			
    padding-left: 5px;		
    padding-right: 5px;
    padding-top: 2px;		
    padding-bottom: 2px;	
    width: 800px;					
    height: 650px;				
    font: 10px sans-serif;	
    color: white;	
    background: white;	
    border: 0px;		
    z-index: 15;		
}  

div.info-title
{
    font-family: 'Average', serif;
    font-size: 20px;
    /* color:#246175; */
    font-weight: bold;
    color: black;
    padding: 20px;
    padding-top: 40px;
    padding-left: 50px;
    opacity: .7;
}


.ranking-title
{
    font-family: 'Average', serif;
    font-size: 14px;
    /* color:#246175; */
    font-weight: normal;
    color: black;
    padding: 20px;
    padding-top: 40px;
    padding-left: 10px;
    opacity: .7;
}

div.info-sub-title
{
    font-family: 'Average', serif;
    font-size: 14px;
    color:black; 
    padding-left: 50px;
    opacity: .7;
}

.percentage-bigger
{
    font-family: 'Average', serif;
    font-size: 32px;
    color: #bf812d;
    font-weight: bold;
}

.percentage
{
    font-family: 'Average', serif;
    font-size: 32px;
    color: #35978f;
    font-weight: bold;
}


#histogram-text{
    font-family: 'Average', serif;
    font-size: 12px;
    position: absolute;
    color:black; 
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
    top: 130px;
    left: 450px;
    width: 210px;
    height: 100px;
}

#pie-text{
    font-family: 'Average', serif;
    font-size: 12px;
    position: absolute;
    color:black; 
    padding: 10px;
    background-color: white;
    top: 475px;
    left: 450px;
    width: 200px;
    height: 100px;
}

#lightbox{
    position: absolute;
    z-index: 10;
    background-color: white;
}

path.slice{
	stroke-width:1px;
    stroke: #fff;
}

polyline{
	opacity: .6;
	stroke: darkgray;
	stroke-width: 1px;
	fill: none;
}


.arc text {
    text-anchor: middle;
    font-family: 'Average', serif;
}
  
.arc path {
    stroke: #fff;
}

.labels text{
    font-size: 10px;
    font-family: 'Average', serif;
}
 
.axis{
    color: darkgrey;
    opacity: 0.4
}

button {
    -webkit-appearance: none;
    background: transparent;
    border: 0;
    outline:0;
}

.arrow-info {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -45px;
    margin-left: -35px;
    width: 70px;
    height: 90px;
}

.left {
    left: -40px;
}

.right {
    left: 852px;
}


button polyline {
    stroke-width: 3;
    /* transition: all 250ms ease-in-out; */
    opacity: .9;
}

.hist-annotation
{
    font-family: 'Average', serif;
    fill: lightslategray;
}